@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Assistant", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF;
  background-color: #1D2B53;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  padding: 62px 20px 20px 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/*  */
.selected-answer {
  @apply flex p-2 text-xl items-center rounded-full bg-slate-500 transition-colors
}

.unselected-answer > * {
  @apply flex p-2 text-xl items-center rounded-full hover:bg-slate-900 transition-colors hover:cursor-pointer
}

.correct-answer {
  @apply flex p-2 text-xl items-center rounded-full bg-green-500
}

.incorrect-answer {
  @apply flex p-2 text-xl items-center rounded-full bg-red-500
}
