@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Ubuntu Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF;

  background: linear-gradient(180deg, #3a1126 0%, rgba(0,0,0,1) 100%);
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  padding: 76px 20px 20px 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.nav-gradient {
  /* background: linear-gradient(0deg, #7E2553 0%, #3a1126 70%, rgba(0,0,0,1) 100%); */
  background-color: #4d1633;
}

/*  */
.selected-answer {
  @apply flex p-2 text-xl items-center rounded-full bg-slate-500 transition-colors
}

.unselected-answer > * {
  @apply flex p-2 text-xl items-center rounded-full hover:bg-slate-900 transition-colors hover:cursor-pointer
}

.correct-answer {
  @apply flex p-2 text-xl items-center rounded-full bg-green-500
}

.incorrect-answer {
  @apply flex p-2 text-xl items-center rounded-full bg-red-500
}
